<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://sandbox.web.squarecdn.com/v0/square.js"></script>
    <title>Sell Your Junk</title>
</head>
<body>
    <div class="navbar border-bottom" style="background-color:silver">
        <div class="mb-3 mt-3 col-8 mx-auto">
            <div class="d-flex justify-content-between">
                <h1 class="text-white" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Sell Your Junk</h1>
                <h4 class="text-black">{{user.first_name}} {{user.last_name}}</h4>
            </div>
            <div class="d-flex justify-content-between">
                <p class="text-white">Find a new bargain every day!</p>
                <div class="d-flex justify-content-between" style="width: 310px; height: 40px;">
                    <form action="/my_items/{{user.id}}">
                        <button class="btn" style="background-color: #8fdece;">My Items</button>
                    </form>
                    <form action="/items/dashboard">
                        <button class="btn" style="background-color: #8fdece;">Dashboard</button>
                    </form>
                    <form action="/logout">
                        <button class="btn" style="background-color: #8fdece;">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="border p-5 col-8 mx-auto mt-5 rounded" style="background-color: #A3E4D7;">
        <!-- stripe -->
    </div>
</body>
</html>